/*
@media (max-width: 800px) {
    .logo {
        width: 100%;
        height: auto;
    }
}
*/


.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    /* font-size: clamp(8px, 18px, 64px); */

    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-variant: normal;
    font-kerning: normal;
    font-feature-settings: "liga" on, "kern" on;

    --arrow-color: rgb(181, 181, 181);
    --arrow-angle: 114.2deg;
    --arrow-length: 40%;
    --arrow-thickness: 0.1rem;

    line-height: 1;
}




.logo__arrow-shaft {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translateY(-50%) rotate(var(--arrow-angle, 114.2deg));

    width: var(--arrow-length);

    height: var(--arrow-thickness);
    background-color: var(--arrow-color);

    transform-origin: center;
    z-index: 0;

}

.logo__arrow-shaft::before,
.logo__arrow-shaft::after {
    content: 'v';
    position: absolute;
    color: var(--arrow-color);
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 0;
}

.logo__arrow-shaft::before {transform: translate(0%, -46%) rotate(-91deg); right: 0;}
.logo__arrow-shaft::after {transform: translate(0%, -46%) rotate(89deg); left: 0;}



.logo__wdwd {
    position: relative;
    overflow: visible;
    display: inline-flex;
    gap: 0;
    background: none;
    white-space: nowrap;
}

.logo__wdwd * {
    margin: 0;
    padding: 0;
    gap: 0;
    vertical-align: baseline;
}

.logo__wdwd__wd {
    display: inline-flex;
    position: relative;
    transform: translateX(var(--adjustment, 0));
}

.logo__wdwd__elem {
    display: inline-block;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: -0.03em;
    color: var(--letter-btn-color);
}
.logo__wdwd__elem:first-child {font-weight: 400;}

.logo__elem--adjust {
    transform: translateX(var(--adjustment, 0));
}

