
/* 
    transform: translate(0.80vw, 0.5vw) skewX(-23.1deg);

    filter: drop-shadow(5vw 4vw 0.7vw rgba(0, 0, 0, 0.813));
    filter: drop-shadow(.2vw .2vw .6vw rgba(128, 121, 121, 0.813));
    filter: drop-shadow(1.2vw 1.2vw .6vw rgba(128, 121, 121, 0.813));
    filter: drop-shadow(.5vw .5vw .4vw rgba(0, 0, 0, 0.272));

*/



#css-test {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    z-index: 800;
}
#css-test.off {display: none}


.logo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 5/3;
    height: auto;

    --arrow-color: rgb(181, 181, 181);
    --arrow-angle: 114.2deg;
    --arrow-length: 30vh;
    --arrow-thickness: 0.3vh;

    line-height: 1;
    border: solid black 0.5px;

}

.logo * {
    font-family: 'Raleway', sans-serif;
    font-variant: normal;
    font-kerning: normal;
    font-feature-settings: "liga" on, "kern" on;
}


.logo__arrow-shaft {
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%) rotate(var(--arrow-angle, 114.2deg));

    /* width: var(--arrow-length); */
    width: 50%;

    height: var(--arrow-thickness);
    background-color: var(--arrow-color);


    transform-origin: center;
    z-index: 0;
    /* filter: drop-shadow(0.1vh -1.1vh 1vh rgba(128, 121, 121, 0.813)); */
}

.logo__arrow-shaft::before,
.logo__arrow-shaft::after {
    content: 'v';
    position: absolute;
    color: var(--arrow-color);
    font-weight: 500;
    font-size: 3.6vh;
    z-index: 0;
}
/* .logo__arrow-shaft::before {transform: translate(-100%, -46%) rotate(-91deg); left: var(--arrow-length);}
.logo__arrow-shaft::after {transform: translate(100%, -47%) rotate(89deg); right: var(--arrow-length);} */

.logo__arrow-shaft::before {transform: translate(-50%, -46%) rotate(-91deg); right: 0;}
.logo__arrow-shaft::after {transform: translate(50%, -47%) rotate(89deg); left: 0;}



.logo__wdwd {
    display: inline-flex;
    gap: 0;
    position: relative;
    padding: 2vh;

    background: none;
    white-space: nowrap;
    
    /* Fallback for older browsers */
    /* box-shadow: 1.2vw 1.2vw .6vw rgba(128, 121, 121, 0.813); */

    border: solid 1px rgb(224, 224, 224);
    overflow: visible;
}

.logo__wdwd * {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.logo__wdwd__half {
    display: inline-flex;
    gap: 0;
    position: relative;

    filter: drop-shadow(1.2vw 1.2vw .6vw rgba(128, 121, 121, 0.813));


    transform: translateX(var(--adjustment, 0));
    border: solid 0.1px rgba(180, 236, 255, 0.765);
}


.logo__wdwd__elem {
    display: inline-block;
    transform: translateX(var(--adjustment, 0));
    font-size: 8vh;
    font-weight: 200;
    letter-spacing: -0.05em;
}

.logo__wdwd__w {font-weight: 300;}




.test-deleter {
    height: 10vw;
    width: 90%;
    font-size: 5vw;
    background: none;
    border: none
}

.test-flip {
    border: none;
    background: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-size: 5.5vw;

    height: 30vw;
    width: 90%;
    padding: 0;

    /* margin: 0; */
    /* background: #ffc0cb66; */
}
.test-flip__top { /* "M" */
    transform: rotate(180deg) translate(-0.15vw, -0.2vw);
    margin: 0;
    text-shadow: -2px -4px rgba(0, 0, 0, 0.181);

}
.test-flip__bottom {  /* "W" */
    transform: translate(-0.15vw, -2.7vw);
    margin: 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.181);
}


/* Ensuring aspect ratio */
/* .logo {
    aspect-ratio: 16 / 9;
    width: 50vw;
    height: auto;
} */

/*
@media (max-width: 800px) {
    .logo {
        width: 100%;
        height: auto;
    }
}
*/