
/* h1 {font-size:8.1vw;font-weight: 100;letter-spacing: -0.04em;line-height: 1;} */
/* #W1 {font-weight: 250; transform: translate(0.65vw)}
#ORD {transform:translate(0.4vw)}
#SLASH {
    content: '';
    position: relative;
    height: 19vw;
    border-top: 0;
    border-right: 0.4vw solid rgba(119, 119, 119, 0.563);
    transform: translate(0.80vw, 0.5vw) skewX(-23.1deg);
    width: 0.2vw;
}
#W2 {font-weight: 250; transform: translate(-0.15vw)}
#ARD {transform: translate(-1vw)} */




#css-test {
    height: 100%;
    width: 100%;
    z-index: 800;
}
#css-test.off {display: none}


.logo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway', sans-serif;

    width: 100%;
    aspect-ratio: 5/2;
    height: auto;
    vertical-align: baseline;

    --arrow-color: rgb(181, 181, 181);
    --arrow-angle: -92deg;
    --arrow-length: 25vh;
    --arrow-thickness: 0.3vh;

    border: solid black 0.5px;
}


.logo__arrow-shaft {
    position: absolute;
    top: 50%;
    /* bottom: 0; */
    left: 50%;

    width: var(--arrow-length);
    height: var(--arrow-thickness);

    background-color: var(--arrow-color);
    transform: translate(-43.5%, 0%) rotate(113.2deg);
    transform-origin: center;
    z-index: 0;
}

.logo__arrow-shaft::before,
.logo__arrow-shaft::after {
    content: 'v';
    position: absolute;
    color: var(--arrow-color);
    font-weight: 500;
    font-size: 4vh;
    z-index: 0;
}
.logo__arrow-shaft::before {
    transform: translate(-100%, -46%) rotate(-91deg); left: var(--arrow-length);}
.logo__arrow-shaft::after {transform: translate(100%, -47%) rotate(89deg); right: var(--arrow-length);}




.logo__name-cont {
    gap: 0vw;
    display: inline-flex;
    position: relative;
    background: none;
    display: inline-block;
    z-index: 1; /* Ensure text appears above the arrow */
    white-space: nowrap;
    border: solid 1px rgb(224, 224, 224);
    padding: 2vh;
}

.logo__name-cont * {margin: 0; padding: 0;}


.logo__one-word {

    display: inline-flex;
    gap: 0vw;
    position: relative;

    line-height: 1;
    padding: 0;
    margin: auto 0;
    z-index: 200;
    font-variant: normal;
    font-kerning: normal;
    font-feature-settings: "liga" on, "kern" on;
    letter-spacing: -.1vh;

}


.logo__one-word.w-ord {
    transform: translateX(var(--adjustment));
    border: solid 0.1px rgba(255, 192, 203, 0.827);
}
.logo__one-word.w-ard {
    transform: translateX(var(--adjustment));
    border: solid 0.1px rgba(180, 236, 255, 0.765);
}


.logo__word-elem {
    display: inline-block;
    transform: translateX(var(--adjustment));
    font-size: 8vh;
    line-height: 1;
    font-weight: normal;
}

.logo__w, .logo__w2 {
    font-weight: 400;

}
.logo__ord, .logo__ard {
    font-weight: 200;
}




.test-deleter {
    height: 10vw;
    width: 90%;
    font-size: 5vw;
    background: none;
    border: none
}

.test-flip {
    border: none;
    background: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-size: 5.5vw;

    height: 30vw;
    width: 90%;
    padding: 0;

    /* margin: 0; */
    /* background: #ffc0cb66; */
}
.test-flip__top { /* "M" */
    transform: rotate(180deg) translate(-0.15vw, -0.2vw);
    margin: 0;
    text-shadow: -2px -4px rgba(0, 0, 0, 0.181);

}
.test-flip__bottom {  /* "W" */
    transform: translate(-0.15vw, -2.7vw);
    margin: 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.181);
}


/* Ensuring aspect ratio */
/* .logo {
    aspect-ratio: 16 / 9;
    width: 50vw;
    height: auto;
} */



/*
@media (max-width: 800px) {
    .logo {
        width: 100%;
        height: auto;
    }
}
*/