:root {
    --vh: 1vh;
    --main-bg-color: #f3f3f3;

    --tile-border-color: rgb(69, 69, 69);
    --tile-font-color: rgb(69, 69, 69);
    --btn-bg-color: rgba(229, 229, 217, 0.801);
    --btn-font-color: rgb(175, 169, 169);
    --btn-border-color: rgb(197, 197, 181);
    --key-font-color: rgb(59, 59, 59);
    --panel-bg-color: white;
    --letter-btn-color: rgb(65, 64, 64);
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
    font-weight: 100 200 300 400 500 900;
    font-style: normal;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font: inherit;
    font-size: inherit;
    text-align: center;
    vertical-align: baseline;
    font-variant-numeric: lining-nums; /* <numeric-figure-values> */
}

html {
    /* font-size: clamp(16px, 2.5vw, 2.5vh); */
    font-size: 16px;
    font-weight: 300;
}

html, body, .tile, .logo {
    background-color: var(--main-bg-color);

    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    height: calc(var(--vh, 1vh) * 100); /* Full viewport height based on custom property */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: var(--main-bg-color);


    overflow: hidden;
    touch-action: manipulation;

}

.game-wrap {
    height: 100%;
    width: 100%;
    max-width: 75vh;

    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    border: 0.3px grey solid; 
}

#header {
    display: flex;
    position: relative;
    align-items: center;

    width: 100%;
    height: 13%;
    padding: 0;
    /* overflow: hidden; */
    z-index: 80;
}

#game-area {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    /* align-items: center; */
    background-color: var(--main-bg-color);
}

.fade-bar {
    position: absolute;
    pointer-events: none;
    height: 9%;
    width: 100%;
    z-index: 85;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
.fade-bar--top {top: 0; background: linear-gradient(to bottom, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);}
.fade-bar--bottom {bottom: 0; background: linear-gradient(to top, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);}

.panel .fade-bar--top {background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);}
.panel .fade-bar--bottom {background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%)}

.panel .fade-bar {height: 7%}
.panel .fade-bar--top {top: 3%}
.panel .fade-bar--bottom {bottom: 3%}


.display {
    margin-bottom: auto;
    line-height: 1.4;
    font-weight: 400;
    z-index: 80;
    text-align: start;
}
.display--moves-score * {text-align: start}

.display__colon {font-weight: 500; margin: 0 .2em;}

.display--min-max {
    display: inline-flex;
    text-align: end;
    align-items: center;
    text-wrap: nowrap;
    pointer-events: all;
}




.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgba(50, 50, 47, 0.876);
    touch-action: manipulation;
    padding-inline: 0;
    align-items: center;
    transition: all 0.1s ease-in-out; /* Smooth hover effect */
}


.btn--fill {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--btn-bg-color);
    color: var(--key-font-color);
    border: solid .2vh var(--btn-border-color);
    box-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.101);

    padding: 0.5rem 1.5rem;
    text-align: center;
}
.btn--fill:hover {
    transform: scale(1.05);
}
.panel .btn--fill {
    border-radius: 0.3rem;
}

.btn--reset {
    position: absolute;
    left: 3%;
    height: 33%;
    width: 14%;
    border-radius: 0.3rem;
}


.btn--help {
    position: absolute;
    right: 3%;
    height: 1.8rem;
    width: 1.8rem;
    border: solid black .1rem;
    border-radius: 50%;
    background: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn--close-panel {
    position: absolute;
    top: 1rem;
    right: .8rem;
    height: 1.6rem;
    width: 1.6rem;

    background: none;
    border: none;

    align-items: self-end;
    font-size: 2rem;
    font-weight: 400;
    z-index: 90;
    transform: scale(1, 0.9);
}
.btn--close-panel:hover {transform: scale(1.1, 1)}


.btn--img {
    color: var(--letter-btn-color);
    background: none;
    border: none;
}




/* SHADOWS============
Use "rem" to keep shadow uniform regardless of element size */
.shadow--top {
    filter: drop-shadow(.2rem .3rem .1rem rgba(165, 156, 156, 0.813));
}


.shadow--min {
    filter: drop-shadow(.05rem .05rem .05rem #666666);

}

.shadow--arrow { /* inverted because of rotation */
    filter: drop-shadow(.1rem -.1rem .2rem #8e8e8ea8);
}





#gameplay-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8% 0;
    margin: auto;
    overflow-y: scroll;
}
#gameplay-cont.flip {flex-direction: column-reverse}



#input-set {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem; /* Add space between groups */
    padding: 0 2rem;

    z-index: 70;
}

.gameplay__input-field {
    width: 65%;
    height: 8vh;

    margin: 1em 0;

    border: .08rem dashed #545454;
    border-radius: 2vh;

    background: none;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 0.3rem;

    text-transform: uppercase;
    text-align: center;

    transition: opacity 0.9s cubic-bezier(0.25, 1, 0.5, 1);

}
input:focus {outline: none}



.gameplay__deleters-cont {
    position: absolute;
    left: calc(50% + 33%); /* Match flippin-button horizontal position */
    height: 27vh;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}


.gameplay__flip-btn {
    position: absolute;
    width: 3rem;
    height: 5.5rem;
    left: calc(50% + 33%); /* Offset to the right of the input field */

    flex-direction: column;
    transition: transform 0.1s ease-out;
}
.gameplay__flip-btn:hover,
.gameplay__flip-btn:active {transform: scale(1.05);}

.gameplay__flip-btn--pt {
    font-size: 2.1em;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    transform-origin: center;
    pointer-events: none;
}

.gameplay__flip-btn--top {
    transform: rotate(180deg);
    margin-bottom: -0.2rem;
}
.gameplay__flip-btn--bottom {
    margin-top: -0.2rem;
}


.gameplay__del-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.9rem;
    font-weight: 400;
    transition: opacity ease-in;
    opacity: 0;
    pointer-events: all;
}
.gameplay__del-btn.active {opacity: 1;}


.gameplay__del-btn.fade-in, .gameplay__del-btn.fade-out {
    transition-duration: 0.2s;
}

.gameplay__del-btn--upper {transform: rotate(0.5turn)}
.gameplay__del-btn--upper:hover,
.gameplay__del-btn--upper:active {transform: scale(1.1) rotate(0.5turn);}

.gameplay__del-btn--lower:hover,
.gameplay__del-btn--lower:active {transform: scale(1.1);}





/*=====KEYBOARD=====*/
#keyboard {
    display: flex;
    flex-direction: column;
    height: 27%;
    width: 100%;
    padding: 2% 2%;
}
.keyboard__spacer {flex: 0.6}

.keyboard__row {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    touch-action: manipulation;
    justify-content: center;
}

.keyboard__key {
    flex: 1;
    display: flex;
    margin: 0 1.5% 1.5% 0;
    border-radius: .3rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.1s ease;
}

.keyboard__key:last-of-type {margin: 0 0 1vh 0;}
.keyboard__key:active {background-color: #e3e3e3;}

.keyboard__key--backspace {max-width: 12%; flex: 1.4;}
.keyboard__key--enter {flex: 1.8}








.set {
    display: flex;
    align-items: center;
    position: relative;
    /* transition-delay: ? */
    flex-direction: column;
    transition: transform 0.8s ease;
    filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(128, 121, 121, 0.813));

}
.flip .set {flex-direction: column-reverse;}

.slide-down--comp-sbmt { transform: translateY(80%); }
.slide-up--comp-sbmt { transform: translateY(-80%); }
.slide-down--comp-del { transform: translateY(19.5%); }
.slide-up--comp-del { transform: translateY(-19.5%); }



#norm-rack, .flip #flip-rack {flex-direction: column;}
#flip-rack, .flip #norm-rack {flex-direction: column-reverse;}

/*=====WORD CONTAINERS & TILES=====*/

.rack {
    position: relative;
    display: flex;
    height: 0;
    transition: height ease-in;
    transition-duration: .2s;
}

.word-row {
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
}
.word-row--init-pair {font-weight: 500}


.rack .word-row {opacity: 0}
.rack .word-row.visible {opacity: 1}

.word-row.fade-in {
    transition-duration: .8s;
    /* transition-delay: .4s; */
    /* ↑ IF I WANT TO JUST START IT AFTER MODIFYHEIGHT */
}
.word-row.fade-out {
    transition-duration: .8s;
}



.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: none;

    border: 0.1em ridge var(--tile-border-color);
    margin: 0.2em;

    border-radius: .25em;
    white-space: nowrap;

}

#gameplay-cont .tile {
    height: 5.2vh;
    width: 5.2vh;
    font-size: 1.2rem;

    animation-name: fadeIn;
    animation-duration: 0.2s;
}

.tile--min-max {
    
    height: 1.2rem; width: 1.2rem;
    /* font-size: 0.75em; */
    border: 0.08rem ridge var(--tile-border-color);
    border-radius: 0.2em;
}

.tile.tile--added {background-color: rgb(219, 255, 219);}
.tile.tile--moved {background-color: rgb(255, 227, 231)}
.tile.tile--removed {background-color: rgb(255, 227, 231)}

















/* transition: opacity 0.9s cubic-bezier(0.25, 1, 0.5, 1); */



.overlay {
    position: absolute; /* Default to game-area coverage */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);

    transition: opacity ease-in-out;
    z-index: 60;
    pointer-events: none; /* Non-interactive by default */
    color: transparent; /* No visible text */
    opacity: 0;
    display: flex; /* Default is flex for easy alignment */
}
.overlay.overlay--full-scr {
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.overlay--dark {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    pointer-events: auto;
    cursor: pointer;
}
.overlay--dark.invisible {pointer-events: none;}
.overlay--message {
    color: black;
    font-size: 7vh;
    text-align: center;
}


.hidden { display: none;}
.visible {opacity: 1; pointer-events: auto;}
.invisible { opacity: 0; pointer-events: none;}




/* Fade effects */
.fade-in { opacity: 1; transition: opacity ease-in; }
.fade-out { opacity: 0; transition: opacity ease-out; }





/* Rotate effects */
.rotating {
    animation: verticalFlip 1s ease-in-out;
    pointer-events: none;
}

@keyframes verticalFlip {
    0% {transform: rotateX(0deg);}
    100% {transform: rotateX(720deg);}
}




.panel {
    position: absolute;
    display: flex;
    flex-direction: column;

    border: solid .1rem grey;
    border-radius: 1rem;
    background-color: var(--panel-bg-color);
    
    padding: 4.5% 0;
    font-size: 1rem;
    
    box-shadow: .3rem .3rem .5rem rgba(0,0,0,.2);

    z-index: 100;

}

.panel.hidden {display: none}
.panel--popup {width: 88%; height: 80%;}

.panel--result {
    width: 75%;
    height: 30%;
    padding: 10% 3% 8%;
    justify-content: center;
    margin: auto;
}
/* .panel--result.hidden {display: none} */
/* .panel--result.hidden {display: flex} */
/* .panel--result .btn {margin: 2vh;} */

.panel--dialog {
    width: 70%;
}

.result__btns {
    display: inline-flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* gap: auto; */
    /* margin: auto; */
    /* width: 70%; */
}


.panel--dialog.hidden {display: none;}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.dialog-content input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}






.star-cont {
    display: flex;
    justify-content: center;
    margin: 2em;
    gap: 1em;
}

.star-cont--unattempted {
    opacity: 0.8;
}

/* .result__star-cont {

} */

.star {
    color: grey;
    transition: background-color 0.3s ease-in-out;
}

.star.yellow {
    color: rgb(255, 255, 206);
    text-shadow: 0em 0em 0.05em rgb(0, 0, 0);
}
.star-cont .star:nth-child(1).yellow { transition-delay: 0s; }
.star-cont .star:nth-child(2).yellow { transition-delay: 0.3s; }
.star-cont .star:nth-child(3).yellow { transition-delay: 0.6s; }

.panel--result .star {font-size: 1.5em;}
.popup-content .star {font-size: 1.2em;}






.popup-content {
    padding: 5% 7%;
    font-size: 1rem;
    line-height: 1.5;
    overflow-y: auto;
    scrollbar-width: none;
}
.popup-content * {text-align: start}

#word-pair-menu li {
    /* padding: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
#word-pair-menu li:not(:last-of-type) {
    border-bottom: .05rem solid #ddd;
}
#word-pair-menu li:hover {
    transform: scale(1.03);
    cursor: pointer;
}


h1 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -.05rem;
    margin: .6rem .6rem 1rem;
}

p {
    margin-bottom: 1rem;
    text-indent: 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-position: outside;
    list-style-type: disc;
}
li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .8rem;
    padding-left: 1rem;
}
li div:last-of-type {margin-bottom: 0.5em}


.li--no-bullet {list-style-type: none;}

.help .word-row {
    margin-top: .3em;
    margin-left: .5em;
    justify-content: flex-start;
    width: 100%;
}

.help .tile {
    width: 6.6%;    
    height: auto;
    aspect-ratio: 1/1;
    font-size: 0.75em;
    font-weight: 400;
    border: 0.1em ridge var(--tile-border-color);
    border-radius: 0.2em;
    white-space: nowrap;
}

.help .tile--inline {vertical-align: bottom;}

.help img {
    max-height: 1.5em;
    vertical-align: middle;
}

.icon-flipped {transform: rotate(0.5turn);}



/*

z-index:

110 #popupPanel
100 #resultPanel
90 .overlay.full-screen
90 .overlay.dark

80 .movesCont, .openHelp, (header?)

70 #inputSet

60 .overlay

50 .deleter?

*/




.high-contrast {
    filter: contrast(2); /* Doubles the contrast */
}

.low-contrast {
    filter: contrast(0.5); /* Reduces contrast by half */
}



.matching-letter {
    background-color: rgb(142 255 41 / 50%);
    animation: highlightAnimation 0.5s ease-out; /* Brief animation */
}

@keyframes highlightAnimation {
    from { background-color: transparent; }
    to { background-color: palegreen; }
}
