:root {--vh: 1vh;}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

p {
    font-size: 7vw;
    font-weight: 200;
    letter-spacing: -0.04em;
}

body {
    display: flex;
    overflow: hidden; /* Prevents any overflow outside of the container */

    margin: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100); /* Full viewport height based on custom property */
    
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: 'Raleway', sans-serif;
    text-align: center;
}


button {
    font-family: 'Raleway', sans-serif;

    cursor: pointer;

    margin: 2vw;
    border: solid 0.1vw;
    border-radius: 0.42vw;

    width: 14vw;

    color: black;
    font-size: 3.5vw;
    font-weight: 300;
    justify-content: center;
    text-align: center;
    
}
button:hover {
    filter: brightness(80%);
    transform: scale(1.1);
}


#header {
    /* position: fixed; */
    /* top: 0%; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    flex-direction: column;
    /* gap: 10px; */

    width: 100vw;
    max-width: 500px;
    height: 10vh;
    max-height: 12vh;
    align-content: center;
    align-items: center;
    z-index: 1000;
    /* margin: 0 auto; */
    border: lightgrey solid 0.5px;
    /* padding: 2vw; */
}

#header button {
    width: 15vw;
    height: 5vh;
    max-height: 50px;
    margin: 2vw;
    box-sizing: border-box;
}

#resetRound {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}
 
#gameName {
    grid-column: 2;
    grid-row: span 2;
    display: inline-flex;
    max-width: 90px;
    justify-content: center;
    align-items: center;
    /* transform: translateX(-1.2vw); */

}

#skipRound {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

#moveCounter, #bestScore {font-size: 4.5vw; margin: 2vw;}
#moveCounter {grid-column: 1; grid-row: 2; justify-self: start;}
#bestScore {grid-column: 3; grid-row: 2; justify-self: end;}

#gameArea {
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* justify-content: space-evenly; */
    align-items: center;
    /* background-color: #ffffff; */
    /* border-radius: 10px; */
    /* margin: 1%; */
    border: lightgrey solid 0.5px;
}


#gameplayCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    /* height: fit-content; */
    transition: height 0.8s ease-out;
    width: fit-content;
    align-content: center;
    /* max-height: 80vh; */
    max-width: 80vw;
    padding: 0 8vh;
    margin: auto;
}


#keyboard {
    /* position: fixed; */
    /* bottom: 0%; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 30vh;
    width: 100vw;
    max-width: 500px;
    max-height: 30vh;
    padding: 10px;
    box-sizing: border-box;
    border: lightgrey solid 0.5px;
}

.key-row {
    display: flex;
    gap: 9px;
    justify-content: center;
}

button.key {
    flex: 1;

    margin: 0;
    height: 7vh;
    max-width: 7vw;
    background-color: #d3d3d3;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s;

}
.key.special {flex: 1.5; max-width: 15%;}
.key:active {background-color: #a9a9a9;}
.key.correct {background-color: #6aa84f; color: white;}
.key.present {background-color: #ffd966; color: white;}
.key.absent {background-color: #999999; color: white;}


.tile {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0.15vw solid rgb(51, 51, 51);
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    width: 10vw;
    /* min-width: 10vw;
    min-height: 10vw; */
    margin: 0.7vw;
    align-items: center;
    font-size: 4.5vw;
    font-weight: 300;
    /* background-color: #fff; */
    border-radius: 0.6vw;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    flex: 1;
    position: relative;
    text-align: center;
}

.setWord div {
    font-weight: bold;
    border: 0.25vw solid rgb(51, 51, 51);
}

.matching-letter {
    background-color: rgb(142 255 41 / 50%);
    animation: highlightAnimation 0.5s ease-out; /* Brief animation */
}

@keyframes highlightAnimation {
    from { background-color: transparent; }
    to { background-color: palegreen; }
}





.overlayer {
    display: none;
    position: fixed;
    background-color: #ffffff9e;
    width: 100%;
    height: 100%;
    z-index: 80;
}
.overlayer.loading {display: block; background-color: #ffffff}
.overlayer.complete {display: block;}



.wordCont {
    display: flex;
    justify-content: center; /* not sure */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* .inputRack .wordCont {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.inputRack .wordCont.show {
    transform: translateY(0);
    opacity: 1;
} */


#inputterRack {
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* overflow: scroll; */
}

#startWord { order: 1; }
#inputterRack { order: 2; }
#endWord { order: 3; }

#normRack, #flipRack {
    position: relative;
    display: flex;

    flex-direction: column-reverse; /* Stack words from the bottom upwards */
    transition: transform 0.5s ease-in-out; /* Animation for upward sliding */

}

#normRack { order: 1; flex-direction: column}
#inputterSet { order: 2; }
#flipRack { order: 3; flex-direction: column-reverse; }



div[data-flip] #startWord { order: 3; }
div[data-flip] #inputterRack { order: 2; }
div[data-flip] #endWord { order: 1; }

div[data-flip] #normRack { order: 3; flex-direction: column-reverse;}
div[data-flip] #inputterSet { order: 2; }
div[data-flip] #flipRack { order: 1; flex-direction: column;}


#flipperAndDeleters[data-flip] { flex-direction: column-reverse; }


[data-layout="stack"] {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 80vw;
}

[data-layout="rack"] {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    max-width: 80%;
    margin: auto;
}


#inputterSet {
    display: flex;
    position: relative;
    /* flex-wrap: nowrap;   ??  */
    align-items: center;
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    /* margin: auto; */
}

#currentInput {
    width: 100%;
    height: 13vw;
    max-width: 82vw;
    text-transform: uppercase;
    border: 0.2vw solid #373737;
    font-family: 'Raleway';
    font-size: 5.7vw;
    letter-spacing: 1.18vw;
    font-weight: 105;
    border-radius: 0.8vw;
    text-align: center;
    position: relative; /*redundant?*/
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
input:focus {outline: none}


#flipperAndDeleters {
    display: flex;
    right: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 47.5vw;
    position: absolute;
    width: 14vw; /* もしcolumnの幅をフレックスにするなら、min-widthを9vwに */
    /* padding: 1.25vw; */
    /* background: #edf6ffef; */
    align-items: center;
}

.deleters {
    height: 10vw;
    width: 90%;
    font-size: 5vw;
    background: none;
    border: none
}

#toggleFlip {
    border: none;
    background: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    height: 14vw;
    width: 90%;
    padding: 0;

    /* margin: 0; */
    /* background: #ffc0cb66; */
}
#toggleTop { /* "M" */
    transform: rotate(180deg) translate(-0.15vw, -0.2vw);
    margin: 0;
}
#toggleBottom {  /* "W" */
    transform: translate(-0.15vw, -2.7vw);
    margin: 0;
}





h1 {font-size:8.1vw;font-weight: 100;letter-spacing: -0.04em;line-height: 1;}
#W1 {font-weight: 250; transform: translate(0.65vw)}
#ORD {transform:translate(0.4vw)}
#SLASH {
    content: '';
    position: relative;
    height: 19vw;
    border-top: 0;
    border-right: 0.4vw solid rgba(119, 119, 119, 0.563);
    transform: translate(0.80vw, 0.5vw) skewX(-23.1deg);
    width: 0.2vw;
}
#W2 {font-weight: 250; transform: translate(-0.15vw)}
#ARD {transform: translate(-1vw)}






.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fadeIn {
    from { opacity: 0.3}
    to { opacity: 1}
}
.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


@keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
}






#submitMove {
    height: 10vw;
    margin: 1.25vw;
    font-size: 3.5vw;
    font-weight: 300;
    width: 12vw;
    background-color: hsla(120, 62%, 84%, 0.50);
    border: 0.05vw solid hsla(120, 62%, 84%, 0.9);
    text-align: center;
    left: 100%;
    position: absolute;
}


#resetRound, #retryRound {
    background-color: rgb(255, 192, 201);
    border-color:  rgb(255, 92, 115, 0.5)
}
#skipRound, #goBackOne {
    background-color: rgb(255, 251, 184);
    border-color: rgba(255, 246, 85, 0.5);
}

#goBackOne {width: 25vw}

/* #resultMessage {
    display: block;
} */


#resultPanel {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 90;
    width: 85%;
    height: 130px;
    border: solid 1.2px;
    border-radius: 5px;
    font-size: 18px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#resultPanel.complete {
    display: flex;
}

#resultPanel button {
    height: 30px;
    width: 80px;
}


/* #goBackOne {background-color: #FFB6C1}    */
#nextRound {background-color: #ADD8E6}   

   

