:root {
    --vh: 1vh;
    --main-bg-color: #f3f3f3;

    /* --tile-border-color: rgb(69, 69, 69);
    --tile-font-color: rgb(69, 69, 69); */
    --tile-border-color: rgba(65, 64, 64, 0.8);
    --tile-font-color: rgb(65, 64, 64, 0.8);
    --btn-bg-color: rgba(186, 186, 178, 0.801);
    --btn-font-color: rgb(175, 169, 169);
    --btn-border-color: rgb(197, 197, 181);
    --key-font-color: rgb(59, 59, 59);
    --panel-bg-color: white;
    --letter-btn-color: rgb(65, 64, 64);

}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
    font-weight: 100 200 300 400 500 900;
    font-style: normal;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font: inherit;
    font-size: inherit;
    text-align: center;
    vertical-align: baseline;
    font-variant-numeric: lining-nums;
}

html {
    font-size: calc(var(--vh, 1vh));
    font-weight: 300;
    scroll-behavior: smooth;

}

html, body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


body {
    height: calc(var(--vh, 1vh) * 100); /* Full viewport height based on custom property */
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    position: relative;
    width: 100%;
    max-width: 75vh;

    margin: 0 auto;

    background-color: var(--main-bg-color);

    overflow: hidden;
    touch-action: manipulation;

    border: 0.3px grey solid; /*delete*/

}

#header {
    position: relative;

    display: flex;
    align-items: center;

    height: 13%;
    width: 100%;
    padding: 0;
    z-index: 80;
}

#game-area {
    position: relative;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow-y: hidden;
    /* align-items: center; */
    background-color: var(--main-bg-color);

    --text-field-hgt: 8rem;
    --text-field-margin-hgt: 1.4rem;
    --text-field-total-hgt: calc(var(--text-field-hgt) + (var(--text-field-margin-hgt) *2));

    --tile-font-size: 3rem;
    --tile-height-width: 5rem;
    --tile-margin: .5rem;
    --word-row-height: calc(var(--tile-height-width) + (var(--tile-margin) * 2));
}

.fade-bar {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.fade-bar--top {top: 0; background: linear-gradient(to bottom, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);}
.fade-bar--bottom {bottom: 0; background: linear-gradient(to top, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);}


.fade-bar--main {
    width: 100%;
    height: 9%;
    z-index: 85;
}

.display {
    margin: 0 2.5% auto;
    line-height: 1.4;
    font-weight: 400;
    font-size: 2.2rem;
    z-index: 80;
    text-align: start;
}
.display--moves-score * {text-align: start}

.display__colon {font-weight: 500; margin: 0 .2em;}

.display--min-max {
    display: inline-flex;
    text-align: end;
    align-items: center;
    text-wrap: nowrap;
    pointer-events: all;
}

.display--min-max__tile {
    height: 1.1em;
    width: 1.1em;
    /* font-size: 0.75em; */
    border: 0.1em ridge var(--tile-border-color);
    border-radius: 0.2em;
}



.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgba(50, 50, 47, 0.876);
    touch-action: manipulation;
    padding-inline: 0;
    align-items: center;
    transition: all 0.1s ease-in-out; /* Smooth hover effect */
    /* font-size: 12em; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.btn--fill {
    font-size: 2.2rem;

    width: auto;
    aspect-ratio: 2.4/1;
    font-weight: 500;
    background-color: var(--btn-bg-color);
    color: var(--key-font-color);
    border: solid .1em var(--btn-border-color);
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.101);
    border-radius: .3em;

    padding: .5em 1em;
    text-align: center;
}
.btn--fill:hover {transform: scale(1.05);}

.btn--reset {
    position: absolute;
    left: 2%;
    height: 30%;
    width: 14%;
}


.btn--help {
    position: absolute;
    right: 3%;
    height: 3.8rem;
    width: 3.8rem;
    border: solid black .1em;
    border-radius: 50%;
    background: none;
    font-size: 2.4rem;
    font-weight: 500;
    overflow: visible;
}


.btn--img {
    color: var(--letter-btn-color);
    background: none;
    border: none;
}




/* SHADOWS============
Use "rem" to keep shadow uniform regardless of element size */
.shadow--top {
    filter: drop-shadow(.7rem .7rem .3rem rgba(188, 183, 183, 0.813));
}

.shadow--tile-set {
    filter: drop-shadow(.5rem .5rem .4rem rgba(170, 163, 163, 0.813));
}

.shadow--min {
    filter: drop-shadow(.2rem .2rem .3rem #afaaaa);
}

.shadow--arrow { /* inverted because of rotation */
    filter: drop-shadow(.05rem -.05rem .2rem #b3b3b3a8);
}





#gameplay-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* max-height: 100%; */
    width: 100%;
    padding: 33% 0;
    /* margin: auto; */
    overflow-y: auto;
    font-size: 1rem;
}
#gameplay-cont.flip {flex-direction: column-reverse}

.input-set {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 70;
    font-size: 2rem;
}


.input__text-field {
    width: 60%;
    height: var(--text-field-hgt);
    margin: var(--text-field-margin-hgt) 2rem;

    border: .05em dashed #545454;
    border-radius: .7em;
    background: none;

    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: .7rem;
    text-transform: uppercase;
    text-align: center;

    transition: opacity 0.9s cubic-bezier(0.25, 1, 0.5, 1);
}
input:focus {outline: none}




.input__side-btns {
    position: absolute;
    left: calc(50% + 38%); /* Offset to the right of the input field */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);

    pointer-events: none;
    /* border: 0.3px rgba(128, 128, 128, 0.311) solid; */
}

.input__flipper-cont {justify-content: center;}
.input__deleters-cont {height: 10.4em; justify-content: space-between;}

.btn--flip {
    flex-direction: column;
    transition: transform 0.1s ease-out;
    pointer-events: all;
    /* border: 0.3px rgba(128, 128, 128, 0.311) solid; */
}
.btn--flip:hover, .btn--flip:active {transform: scale(1.08);}

.btn--flip--top, .btn--flip--bottom {
    font-size: 2.1em;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    transform-origin: center;
}
.btn--flip--top {transform: rotate(180deg); margin-bottom: -0.08em;}
.btn--flip--bottom {margin-top: -0.08em;}


.btn--delete {
    font-size: 1.6em;
    font-weight: 500;
    transition: opacity ease-in;
    opacity: 0;
    pointer-events: all;
}
.btn--delete--upper {transform: rotate(0.5turn)}
.btn--delete--upper:hover, .btn--delete--upper:active {transform: scale(1.15) rotate(0.5turn);}
.btn--delete--lower:hover, .btn--delete--lower:active {transform: scale(1.15);}


.btn--delete.active {opacity: 1;}
.btn--delete.fade-in, .btn--delete.fade-out {transition-duration: 0.2s;}

.help .btn--in-text {
    cursor: default;
    opacity: 1;
}
.help .btn--in-text:hover {transform: none}









.set {
    display: flex;
    align-items: center;
    position: relative;
    /* transition-delay: ? */
    flex-direction: column;
    transition: transform 0.8s ease;

}
.flip .set {flex-direction: column-reverse;}


.slide-down--comp-sbmt {transform: translateY(calc(var(--text-field-total-hgt) * 0.5));}
.slide-up--comp-sbmt {transform: translateY(calc(var(--text-field-total-hgt) * -0.5));}
.slide-down--comp-del {transform: translateY(calc((var(--text-field-total-hgt) + (var(--word-row-height) * 2)) * 0.5 ));}
.slide-up--comp-del {transform: translateY(calc((var(--text-field-total-hgt) + (var(--word-row-height) * 2)) * -0.5 ));}


/*=====WORD CONTAINERS & TILES=====*/

#norm-rack, .flip #flip-rack {flex-direction: column;}
#flip-rack, .flip #norm-rack {flex-direction: column-reverse;}

.rack {
    position: relative;
    display: flex;
    height: 0;
    transition: height ease-in;
    transition-duration: .2s;
}

.word-row {
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
}
.word-row--init-pair {font-weight: 500}


.rack .word-row {opacity: 0}
.rack .word-row.visible {opacity: 1}

.word-row.fade-in {
    transition-duration: .8s;
    /* transition-delay: .4s; */
    /* ↑ IF I WANT TO JUST START IT AFTER MODIFYHEIGHT */
}
.word-row.fade-out {
    transition-duration: .8s;
}



.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: none;

    border: 0.08em ridge var(--tile-border-color);

    /* margin: var(--tile-margin); */

    border-radius: .25em;
    white-space: nowrap;

}

#gameplay-cont .tile {
    height: var(--tile-height-width);
    width: var(--tile-height-width);
    font-size: var(--tile-font-size);
    margin: var(--tile-margin);

    animation-name: fadeIn;
    animation-duration: 0.2s;
}


.tile.tile--added {background-color: rgb(219, 255, 219);}
.tile.tile--moved {background-color: rgb(255, 227, 231)}
.tile.tile--removed {background-color: rgb(255, 227, 231)}

















/* transition: opacity 0.9s cubic-bezier(0.25, 1, 0.5, 1); */



.overlay {
    position: absolute; /* Default to game-area coverage */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);

    transition: opacity ease-in-out;
    z-index: 60;
    pointer-events: none; /* Non-interactive by default */
    color: transparent; /* No visible text */
    opacity: 0;
    display: flex; /* Default is flex for easy alignment */
}
.overlay.overlay--full-scr {
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100%;
}

.overlay--dark {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    pointer-events: auto;
    cursor: pointer;
}
.overlay--dark.invisible {pointer-events: none;}
.overlay--message {
    color: black;
    font-size: 2rem;
    text-align: center;
}


.hidden { display: none;}
.visible {opacity: 1; pointer-events: auto;}
.invisible { opacity: 0; pointer-events: none;}




/* Fade effects */
.fade-in { opacity: 1; transition: opacity ease-in; }
.fade-out { opacity: 0; transition: opacity ease-out; }


/* Rotate effects */
.rotating {
    animation: verticalFlip 1s ease-in-out;
    pointer-events: none;
}

@keyframes verticalFlip {
    0% {transform: rotateX(0deg);}
    100% {transform: rotateX(720deg);}
}




.panel {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border: solid .08em grey;
    border-radius: 1.6em;
    background-color: var(--panel-bg-color);
    box-shadow: .3em .3em .5em rgba(0,0,0,.2);

    font-size: 1rem;
    
    z-index: 100;
}
.panel.hidden {display: none}

.panel--large, .panel--small {
    display: none;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3%;
    overflow: hidden;
}

.panel--help, .panel--rounds {
    width: 88%;
    height: 80%;
    font-size: 2.2em;
}
.panel--result {
    width: 70%;
    height: 30%;
    font-size: 2.8em;
}

.panel--dialog {
    width: 60%;
    height: 20%;
    font-size: 2.4em;
}

.panel--help .panel--large, .panel--rounds .panel--large,
.panel--dialog .panel--small, .panel--result .panel--small {
    display: flex;
}



.panel__header {
    position: relative;
    flex-shrink: 0;
    align-items: center;

    width: 100%;
    height: 8%;
    margin: 0 2% 2%;
    /* overflow: hidden; */
}

/* only show the h1 relevant to panel type */
.panel__heading {display: none}
.panel--help .panel__heading--help,
.panel--rounds .panel__heading--rounds {display: flex}


.btn--close-panel {
    position: absolute;
    right: 3%;
    top: 0;
    font-size: 2em;
    background: none;
    border: none;

    align-items: self-end;
    font-weight: 400;
    z-index: 101;
    transform: scale(1, 0.9);
}
.btn--close-panel:hover {transform: scale(1.1, 1)}

.panel .fade-bar {
    width: 90%;
    height: 7%;
    z-index: 101;
}

.panel-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    line-height: 1.5;
    /* scrollbar-width: none; */
}
.panel-content.hidden {display: none;}
.panel-content--help {text-align: start}

.panel-content--help, .panel-content--rounds {
    overflow-y: scroll;
    flex-grow: 1;
}

.panel-content--result {
    /* padding: 0 6%; */
    justify-content: center;
    /* margin: auto; */
}


.panel .fade-bar--top {
    top: 10%;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.panel .fade-bar--bottom {
    bottom: 0%;
    background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%)
}



#word-pair-menu {
    justify-content: space-between;
}

#word-pair-menu li {
    /* padding: 2%; */
    /* align-items: center; */
    display: inline-flex;

    cursor: pointer;

    margin: 0;
}
#word-pair-menu li:not(:last-of-type) {
    border-bottom: .05em solid #ddd;
}
#word-pair-menu li:hover {
    transform: scale(1.03);
}





.result__btns {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 4%;
    /* margin: auto; */
    /* width: 70%; */
}

.star-cont {
    display: flex;
    justify-content: center;
    margin: .6em auto 1em;
    gap: .8em;
}

/* .star-cont--unattempted {opacity: 0.4} */


.star {
    color: grey;
    transition: background-color 0.3s ease-in-out;
}

.panel-content--result .star {font-size: 1.4em;}
.panel-content .star {font-size: 1.2em;}

.star.yellow {
    color: rgb(255, 255, 206);
    text-shadow: 0em 0em 0.08em rgb(0, 0, 0);
}
.star-cont .star:nth-child(1).yellow { transition-delay: 0s; }
.star-cont .star:nth-child(2).yellow { transition-delay: 0.3s; }
.star-cont .star:nth-child(3).yellow { transition-delay: 0.6s; }






h1 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: -.05em;
    margin: .6em .1em .4em;
}

p {
    margin-bottom: 1em;
    text-indent: 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-position: outside;
    list-style-type: disc;
}
li {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: .08rem;
    padding-left: .3em;
    display: inline;
    /* text-wrap: nowrap; */
}
li div:last-of-type {margin-bottom: 0.5em}


.li--no-bullet {list-style-type: none;}

.panel-content .word-row {
    margin-top: .3em;
    margin-left: .5em;
    justify-content: flex-start;
    width: 100%;
}

.panel-content .tile {
    width: 6.6%;    
    height: auto;
    aspect-ratio: 1/1;
    /* font-size: 0.75em; */
    font-weight: 400;
    border: 0.1em ridge var(--tile-border-color);
    border-radius: 0.2em;
    white-space: nowrap;
}

.panel-content .tile--inline {vertical-align: bottom;}

.panel-content img {
    max-height: 1.5em;
    vertical-align: middle;
}

.icon-flipped {transform: rotate(0.5turn);}



.dialog-content {
    background-color: white;
    padding: 20em;
    border-radius: 8em;
}

.dialog-content input {
    width: 100%;
    margin-bottom: 1.5em;
    padding: 10em;
    border: 1em solid #ccc;
    border-radius: 4em;
}











/*=====KEYBOARD=====*/
#keyboard {
    display: flex;
    flex-direction: column;
    height: 27%;
    width: 100%;
    padding: 2% 2%;
    font-size: 5em;
    font-weight: 500;
}
.keyboard__spacer {flex: 0.5}

.keyboard__row {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    touch-action: manipulation;
    justify-content: center;
}

.keyboard__key {
    flex: 1;
    display: flex;
    margin: 0 1.5% 1.5% 0;
    border-radius: .3em;
    padding: 0;
    transition: background-color 0.1s ease;
}

.keyboard__key:last-of-type {margin: 0 0 1.5% 0;}
.keyboard__key:active {background-color: #e3e3e3;}

.keyboard__key--backspace {flex: 1.4;}
.keyboard__key--enter {flex: 1.8}





/*

z-index:

110 #popupPanel
100 #resultPanel
90 .overlay.full-screen
90 .overlay.dark

80 .movesCont, .openHelp, (header?)

70 #inputSet

60 .overlay

50 .deleter?

*/




.high-contrast {
    filter: contrast(2); /* Doubles the contrast */
}

.low-contrast {
    filter: contrast(0.5); /* Reduces contrast by half */
}



.matching-letter {
    background-color: rgb(142 255 41 / 50%);
    animation: highlightAnimation 0.5s ease-out; /* Brief animation */
}

@keyframes highlightAnimation {
    from { background-color: transparent; }
    to { background-color: palegreen; }
}
